html {
  scroll-behavior: smooth;
  font-family: "helvetica", sans-serif;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: #5cb85f;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1050;
}
.sidebar.show {
  transform: translateX(0);
}

.card-content {
  width: 100%;
  height: 100%;
  padding: 24px;
  gap: 16px;
  transition: transform 0.3s ease-in-out;
  cursor: default;
}

.card-content:hover {
  transform: scale(1.1);
}

.banner {
  background-color: #0d28a6;
  border-radius: 15px;
}

.btn-color {
  background-color: #5cb85f;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btn-color:hover {
  background-color: white;
  color: black;
  border: 1px solid #5cb85f;
}

.paragraph {
  max-width: 600px;
  margin: 0 auto;
}

.search {
    margin-top: -50px;
  }
  
  .search .search__card {
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }
  
  .search .search__card .search__time .form-select {
    background-image: url("../images/fi_clock.png");
    background-size: 20px auto;
  }
  
  .search .search__card .form-select:hover {
    border: 1px solid #5cb85f;
    border-radius: 2px;
  }
  
  .search .search__card .form-select option:hover,
  .search .search__card .form-select option:checked {
    background: #c9e7ca;
    color: #5cb85f;
  }
  
  .cars {
    margin-top: 30px;
  }
  
  .cars .card {
    width: 340px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }
  
  .cars .card .card-img-top {
    width: 320px;
    height: 180px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .cars .card .cars__p {
    font-size: 14px;
    line-height: 20px;
    height: 100px;
  }


/* footer */
.navigasi a {
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.navigasi a:hover {
  color: #5cb85f;
}

/* mobile view  */
@media (max-width: 1024px) {
  #carouselExampleRide {
    margin: 0 auto;
    background-color: #f1f3ff;
  }
  #carouselExampleRide button {
    border: none;
    top: 15%;
    background-color: transparent;
  }

  .carousel-item {
    padding: 4rem;
    flex-direction: column;
  }

  .testimonial-img {
    width: 100px;
    height: 100px;
    margin-left: 12px;
    margin-bottom: 2rem;
  }

  .testimonial-content {
    text-align: start;
  }

  .testimonial-content img {
    margin: 0 auto;
    display: block;
    width: 100px;
  }

  .cars {
    
  }

/* tablet view*/
@media (min-width: 768px) {
  #carouselExampleRide {
    width: 600px;
    height: 270px;
    margin: 0 auto;
    padding-top: 2rem;
    background-color: #f1f3ff;
  }
  #carouselExampleRide button {
    border: none;
    top: 40%;
    background-color: transparent;
  }
  .carousel-content {
    flex-direction: row;
    justify-content: flex-start;
  }

  .carousel-item {
    padding: 1rem;
  }

  .testimonial-content {
    text-align: left;
    max-width: 420px;
  }

  .testimonial-img {
    width: 90px;
    height: 100px;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  .testimonial-content img {
    margin: 0;
    display: block;
    width: 100px;
  }
}

/* desktop view */
@media (min-width: 1024px) {
  #carouselExampleRide {
    width: 832px;
    height: 270px;
    margin: 0 auto;
    padding-top: 0.5rem;
    background-color: #f1f3ff;
  }
  #carouselExampleRide button {
    border: none;
    top: 40%;
    background-color: transparent;
  }
  .carousel-content {
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-start;
  }

  .carousel-item {
    padding: 2rem;
  }

  .testimonial-content {
    text-align: left;
    max-width: 420px;
  }

  .testimonial-img {
    width: 90px;
    height: 100px;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  .testimonial-content img {
    margin: 0;
    display: block;
    width: 100px;
  }
}
